/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    button.navbar-toggler.collapsed , button.navbar-toggler{
        color: #fff;
        background: #000;
        padding: 15px;
        font-weight: bold;
        border:none;
      }
      .navbar-expand-lg .navbar-nav li a:hover:after, .navbar-expand-lg .navbar-nav li a.nav-link.active:after {
        width: 0%;
      }
      
      .info .personInfo{
          top: 0%;
      }
      footer{
          text-align: -webkit-center;
      }
      .d-block.d-sm-block.d-md-none
      {
          margin-left: 50px;
      }
      .media
      {
          margin:20px 0;
      }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .navbar-expand-lg .navbar-nav li a:hover:after, .navbar-expand-lg .navbar-nav li a.nav-link.active:after {
        width:100%;
 }
 .media
 {
     margin:20px 0;
 }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .info .personInfo{
        top: 40%;
    }
    footer{
        text-align: left;
    }
    .navbar-expand-lg .navbar-nav li a:hover:after, .navbar-expand-lg .navbar-nav li a.nav-link.active:after {
        width: 100%;
 }
 .media
 {
     margin:20px 0;
 }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .navbar-expand-lg .navbar-nav li a:hover:after, .navbar-expand-lg .navbar-nav li a.nav-link.active:after {
        width: 100%;
   }
}

.navside {
    z-index: 999999;
}
