@media (max-width: 1200px) {
  section#catlogPage {
    margin: 3em 0;
  }
  .navbar .container {
    padding: 10px 15px;
  }
  li.afterLine:after {
    display: none;
  }
  .rtl .navbar-nav .nav-item + .nav-item {
    margin-right: 0;
  }
  .nav-item a {
    padding: 15px 10px !important;
  }
  li.nav-item.dropdown.afterLine {
    margin: 10px 0 !important;
  }
  .select2-container--bootstrap, .search-btn {
    width: 48% !important;
    margin: 0 1% 5px;
    float: right;
  }
  .searchBorder {
    width: 100% !important;
    display: flow-root;
    background: #3facda;
  }
  .filter-type a.collapsed-btn {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .filter-type a.collapsed-btn {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .ad img {
    display: none;
  }
  footer .right-left-border {
    border: none;
  }
  footer .contact h5 {
    text-align: center;
  }
  .social ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 800px) {
  .quick-search div.col {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media (max-width: 768px) {
  .leftBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }
  .leftBox .box, .leftBox .vedio {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .leftBox {
    display: block;
  }
}

.navside {
  z-index: 999999;
}
/*# sourceMappingURL=responsive.css.map */