@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 14px;
  color: #666666;
  font-family: 'Open Sans', sans-serif !important;
  vertical-align: baseline;
  line-height: 22px;
  font-weight: 400;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-weight: 400 !important;
}

.gap-10 {
  width: 100%;
  height: 10px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  font-weight: bold !important ;
  padding: 15px 0 0 !important ;
}

h1 {
  font-size: 44px !important;
}

h2 {
  font-size: 22px !important;
}

h3 {
  font-size: 18px !important;
}

a {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  outline: 0 none;
  color: #000;
  text-decoration: none;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2b2c2f;
  z-index: 999999;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../images/1.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

header {
  background: #f5f5f5 none repeat scroll 0 0;
}

.logo {
  width: 60px;
  height: 60px;
}

.navbar-expand-lg .navbar-nav {
  padding: 30px 0 !important;
}

.navbar-expand-lg .navbar-nav li {
  padding: 0 10px;
}

.navbar-expand-lg .navbar-nav li a {
  font-weight: bold;
  font-size: 18px;
  color: #666666;
  display: block;
  line-height: 40px;
  padding: 0 5px;
  position: relative;
  letter-spacing: 0.40px;
}

.navbar-expand-lg .navbar-nav li a:after {
  background: #afafaf  none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 0;
  margin-top: -1px;
  -webkit-margin-before: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0;
}

.navbar-expand-lg .navbar-nav li a:hover, .navbar-expand-lg .navbar-nav li a.nav-link.active {
  color: #afafaf !important;
}

.navbar-expand-lg .navbar-nav li a:hover:after, .navbar-expand-lg .navbar-nav li a.nav-link.active:after {
  width: 100%;
}

.info {
  background: #f5f5f5;
  color: #393939;
  font-weight: bold;
  position: relative;
  margin-bottom: 60px;
}

.info .personInfo {
  position: relative;
  top: 40%;
}

.info .personInfo h1, .info .personInfo h5 {
  color: #4f4f4f;
}

.info .personInfo p {
  color: #767676 !important;
  font-size: 16px;
  line-height: 28px;
}

.info .personInfo .buttonInfo {
  margin-top: 30px !important;
}

.info .personInfo .buttonInfo .btn {
  background-color: #393939;
  color: #fff;
  border: 0 none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  height: 47px;
  line-height: 50px;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.seactionTitle {
  text-transform: uppercase;
  color: #393939;
  margin-bottom: 60px;
}

.seactionTitle h1 {
  margin: 10px 0 !important;
  font-size: 32px;
}

.seactionTitle .horizentalLine div {
  background: #afafaf  none repeat scroll 0 0;
  height: 2px;
  margin: 0 auto;
  width: 77px;
  margin-bottom: 2px;
}

.seactionTitle .top {
  width: 33px !important;
}

.about {
  margin: 20px 0 80px 0;
}

.about .personInfo h3 {
  color: #4f4f4f;
  margin-bottom: 20px !important;
}

.about .personInfo p {
  color: #767676 !important;
  font-size: 16px;
  line-height: 28px;
}

.about .personInfo .buttonInfo {
  margin-top: 30px !important;
}

.about .personInfo .buttonInfo .btn {
  background-color: #393939;
  color: #fff;
  border: 0 none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  height: 47px;
  line-height: 50px;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.progress {
  border-radius: 10px !important;
  overflow: visible;
  height: 9px;
  width: 95%;
}

.progress-bar {
  background: #172c3c;
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

.prosessMark {
  position: absolute;
  top: 10px;
}

.percent {
  color: #4f4f4f;
}

.prosessMark:after {
  background: #484848 none repeat scroll 0 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px rgba(72, 72, 72, 0.5);
          box-shadow: 0 0 0 4px rgba(72, 72, 72, 0.5);
  content: "";
  height: 14px;
  position: absolute;
  right: 7px;
  bottom: -25px;
  width: 14px;
  z-index: 999;
}

.barWrapper {
  margin: 25px 0;
}

.experience {
  padding: 40px 0;
}

.experience .info {
  padding: 50px 0;
}

.media {
  margin: 40px 0;
  height: auto;
}

.media a {
  font-size: 50px;
  margin: 0 25px;
}

.buttons {
  text-align: center;
  margin: 20px;
}

.buttons button {
  background-color: #eaebeb;
  color: #a7a9aa;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

.buttons button:hover,
.buttons button:focus {
  color: #646668;
}

.mix {
  display: none;
}

.new {
  margin-bottom: 90px;
  position: relative;
}

.new img {
  padding: 30px;
  -webkit-box-shadow: 1px 1px 8px 0px #cccccc73;
          box-shadow: 1px 1px 8px 0px #cccccc73;
  height: 230px;
  width: 230px !important;
}

.new .link {
  display: none;
}

.new a {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #ccc !important;
}

.new:hover .link {
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
  width: 230px;
  height: 230px;
  background: rgba(31, 29, 28, 0.8);
  -webkit-transition: 1s;
  transition: 1s;
}

.wow {
  overflow: hidden;
}

footer {
  background: #f5f5f5;
  padding: 60px 0;
}

footer hr.line {
  width: 50px;
  margin: 30px 0;
}

footer .info li {
  padding: 5px;
}

.social a {
  font-size: 18px;
  color: #393939;
  padding: 10px;
}

label {
  margin-bottom: 10px;
}

.area {
  margin: 30px 0;
}

.form1 button.btn {
  background-color: #393939;
  color: white;
  padding: 15px 0;
  border-radius: 5px;
  width: 15%;
  font-weight: bold;
}

.form1 button.btn:hover {
  color: white;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea
{
  margin:10px 0 ;
}

textarea.wpcf7-form-control.wpcf7-textarea{
  margin: 10px 0 !important;
}
label{
  font-weight: 500 !important;
}
/*# sourceMappingURL=style.css.map */